<%- include("header") -%>
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Skill Exchange</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="/">Home</a>
        <a class="nav-link" href="/about">About</a>   
      </nav>
    </div>
  </header>
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Skill Exchange</h1>
    <p class="lead">
      Lorem ipsum dolor sit amet, dicta nusquam ei has, omnesque imperdiet 
      usu ne, minim ponderum ei ius. Ad mea melius nusquam repudiare, causae fierent sententiae 
      pri ex, pri sonet oporteat ut.
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/signup" role="button">SignUp</a>
      <a class="btn btn-secondary btn-lg" href="/login" role="button">Login</a>
    </p>
  </main>
  
  <%- include("footer") -%>